@font-face {
    font-family: 'Georgia';
    src: url('georgia/georgia.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('georgia/georgia-italic.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Georgia';
    src: url('georgia/georgia-bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: url('georgia/georgia-bold-italic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}
