/* latin */
@font-face {
  font-family: 'Minecraft';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.benstokman.me/MinecraftRegular.otf')
}
@font-face {
  font-family: 'Minecraft';
  font-style: italic;
  font-weight: 400;
  src: url('https://fonts.benstokman.me/MinecraftItalic.otf')
}
@font-face {
  font-family: 'Minecraft';
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.benstokman.me/MinecraftBold.otf')
}
@font-face {
  font-family: 'Minecraft';
  font-style: italic;
  font-weight: 700;
  src: url('https://fonts.benstokman.me/MinecraftBoldItalic.otf')
}
